For interacting with the new template format while drafting proposals.

In [7]:
#%%
import os
import re
from datetime import datetime
from pathlib import Path

import numpy as np
import pandas as pd
import requests
import xlwings as xw

import functions
import hide

wb = xw.books.active
ws = wb.sheets.active
print(wb)

<Book [Template.xlsx]>

In [10]:
ws = wb.sheets['Technical_Notes']
print(ws)

<Sheet [Template.xlsx]Technical_Notes>

In [23]:
last_row = ws.range('F1048576').end('up').row
print(last_row)

9

In [39]:
data = ws.range(f'F4:F{last_row}').options(pd.DataFrame, index=False).value
data

     None
0    PAGA
1    PABX
2    None
3     UHF
4  VHF-AM

In [41]:
data = data.dropna()
data

     None
0    PAGA
1    PABX
3     UHF
4  VHF-AM